body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filelist__header {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

.file {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

.file__name {
  display: flex;
  column-gap: 5px;
}

.navbar {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

.navbar__logo {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.navbar__auth {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.popup {
  position: fixed;
  display: flex;

  width: 300px;
  padding: 20px;

  left: calc(50% - (300px) / 2);
  top: 195px;

  border: solid;
  border-width: 1px;
  border-color: skyblue;
  border-radius: 3%;

  flex-direction: column;
  row-gap: 20px;
}

.popup__header {
  display: flex;
  justify-content: space-between;
}
