.page {
  position: relative;
  max-width: 1280px;
  min-width: 282px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
}

.link,
.link:visited {
  text-decoration: none;
}

.filelist {
  display: flex;

  width: calc(100% - 200px);
  margin: auto;

  flex-direction: column;

  row-gap: 10px;
}

.filelist__header {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  row-gap: 10px;
}

.dir__path {
  display: flex;

  margin: 0;
  padding: 0;
}

.dir__path__button {
  margin: 0;
  padding: 0;

  padding: 10px 5px;

  border: none;
  border-radius: 20px;
  background-color: white;

  font-size: 24px;
  line-height: 1.2;

  cursor: pointer;
}

.dir__path__button-wrapper {
  display: flex;
  align-items: center;
}

.dir__path__next {
  padding: 0 5px;
  margin: 0;

  font-size: 24px;
  line-height: 1.2;
}

.dir__path__button:hover {
  background-color: #f2f2fa;
}

.dir__path__button:last-child:after {
  content: '';
}

.filelist__header__bar {
  padding: 0;
  margin: 0;

  margin-top: 20px;

  display: grid;
  grid-template-columns: 6fr 2fr 1fr;
}

.filelist__header__bar__label {
  margin: 0;
  padding: 0;
}

.filelist__header__bar__label:last-child {
  text-align: right;
}

.filelist__header__menu {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;

  margin-top: 20px;
}

.file {
  display: grid;
  grid-template-columns: 6fr 2fr 1fr;

  align-items: center;
}

.file:hover {
  background-color: #f2f2fa;
}

.file__selected {
  background-color: #edf7fa;
  color: rgb(94, 94, 235);
}

.file__selected:hover {
  background-color: #edf7fa;
}

.file__name {
  display: flex;
  column-gap: 5px;

  align-items: center;
}

.file__size {
  text-align: right;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f3f4f4;
  border-radius: 15px;

  margin-top: 20px;
  padding: 10px 10px;
}

.navbar__logo {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.navbar__auth {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.navbar__profile {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.popup-wrapper {
  position: absolute;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup {
  position: fixed;
  display: flex;

  width: 300px;
  padding: 20px;

  left: calc(50% - (300px) / 2);
  top: 195px;

  background-color: white;

  border: solid;
  border-width: 1px;
  border-color: skyblue;
  border-radius: 3%;

  flex-direction: column;
  row-gap: 20px;
}

.popup__header {
  display: flex;
  justify-content: space-between;

  font-size: 20px;
  line-height: 1.22;
}

.popup__buttons {
  display: flex;

  justify-content: end;
  column-gap: 15px;
  margin-top: 15px;
}

.popup__input {
  width: 100%;

  border: none;
  font-size: 18px;
  outline-style: none;
}

.popup__cancel {
  border: none;
  background-color: white;
  cursor: pointer;
}

.popup__cancel:hover {
  color: rgb(94, 94, 235);
}

.popup__submit {
  background-color: white;
  border: none;
  cursor: pointer;

  color: rgb(94, 94, 235);
}

.file__upload__input {
  display: none;
}

.file-menu {
  display: flex;
  column-gap: 20px;
}

.file-menu__icon {
  width: 32px;
  height: 32px;
}

.file-menu__icon:hover {
  opacity: 0.6;
}

.visually-hidden {
  display: none;
}

.button {
  padding: 10px 10px;

  border: none;
  border-radius: 15px;
  font-size: 18px;
  line-height: 1.22;
  background-color: #f3f4f4;

  cursor: pointer;
}

.button:hover {
  background-color: #edf7fa;
  color: rgb(94, 94, 235);
}

.profile {
  display: flex;

  padding: 0;
  margin: auto;
  margin-top: 100px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.profile__avatar {
  position: relative;

  width: 200px;
  height: 200px;
}

.profile__avatar:hover .profile__avatar__edit {
  opacity: 1;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.profile__avatar:hover .profile__avatar__image {
  background-color: #8484ff;
}

.profile__avatar__edit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
}

.profile__avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  z-index: 2;
}

.navbar__profile__info {
  object-fit: cover;
  border-radius: 50%;
}

.profile__name {
  padding: 0;
  margin: 0;

  font-size: 20px;
}

.auth__form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 240px;

  margin: auto;
  margin-top: 60px;
  row-gap: 20px;

  text-align: center;
}

.auth__form__header {
  font-size: 20px;
}

.auth__form__input {
  width: 100%;
  border: none;
  font-size: 18px;
  outline-style: none;
}
