.page {
  position: relative;
  max-width: 1280px;
  min-width: 282px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
}

.filelist {
  display: flex;

  width: calc(100% - 200px);
  margin: auto;

  flex-direction: column;

  row-gap: 10px;
}

.filelist__header {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  row-gap: 10px;
}

.dir__path {
  display: flex;

  margin: 0;
  padding: 0;
}

.dir__path__button {
  margin: 0;
  padding: 0;

  padding: 10px 5px;

  border: none;
  border-radius: 20px;
  background-color: white;

  font-size: 24px;
  line-height: 1.2;

  cursor: pointer;
}

.dir__path__button-wrapper {
  display: flex;
  align-items: center;
}

.dir__path__next {
  padding: 0 5px;
  margin: 0;

  font-size: 24px;
  line-height: 1.2;
}

.dir__path__button:hover {
  background-color: #f2f2fa;
}

.dir__path__button:last-child:after {
  content: '';
}

.filelist__header__bar {
  padding: 0;
  margin: 0;

  margin-top: 20px;

  display: grid;
  grid-template-columns: 6fr 2fr 1fr;
}

.filelist__header__bar__label {
  margin: 0;
  padding: 0;
}

.filelist__header__bar__label:last-child {
  text-align: right;
}

.filelist__header__menu {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;

  margin-top: 20px;
}

.file {
  display: grid;
  grid-template-columns: 6fr 2fr 1fr;

  align-items: center;
}

.file:hover {
  background-color: #f2f2fa;
}

.file__selected {
  background-color: #edf7fa;
  color: rgb(94, 94, 235);
}

.file__selected:hover {
  background-color: #edf7fa;
}

.file__name {
  display: flex;
  column-gap: 5px;

  align-items: center;
}

.file__size {
  text-align: right;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f3f4f4;
  border-radius: 15px;

  margin-top: 20px;
  padding: 10px 10px;
}

.navbar__logo {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.navbar__auth {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.navbar__profile {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.popup {
  position: fixed;
  display: flex;

  width: 300px;
  padding: 20px;

  left: calc(50% - (300px) / 2);
  top: 195px;

  border: solid;
  border-width: 1px;
  border-color: skyblue;
  border-radius: 3%;

  flex-direction: column;
  row-gap: 20px;
}

.popup__header {
  display: flex;
  justify-content: space-between;
}

.file__upload__input {
  display: none;
}

.file-menu {
  display: flex;
  column-gap: 20px;
}

.file-menu__icon {
  width: 32px;
  height: 32px;
}

.file-menu__icon:hover {
  opacity: 0.6;
}

.visually-hidden {
  display: none;
}

.button {
  padding: 10px 10px;

  border: none;
  border-radius: 15px;
  font-size: 18px;
  line-height: 1.22;
  background-color: #f3f4f4;

  cursor: pointer;
}

.button:hover {
  background-color: #edf7fa;
  color: rgb(94, 94, 235);
}
